title: Мадам Мистаро
email: # leave empty if you don't want to display
description: >- # this means to ignore newlines until "baseurl:"
  Бесплатные расклады Таро с помощью бота Мадам Мистаро в Telegram.
  Получите советы от карт Таро.
baseurl: ""
url: "https://мистаро.рф"

theme: minima
plugins:
  - jekyll-feed
  - jekyll-responsive-image

timezone: Europe/Moscow

collections:
  horoscopes:
    output: true
    # Permalink uses URL encoding for "гороскопы"
    permalink: /%D0%B3%D0%BE%D1%80%D0%BE%D1%81%D0%BA%D0%BE%D0%BF%D1%8B/:year/:month/:day/
    sort_by: date
  tarot:
    output: true
    # Permalink uses URL encoding for "карта-дня"
    permalink: /%D0%BA%D0%B0%D1%80%D1%82%D0%B0-%D0%B4%D0%BD%D1%8F/:year/:month/:day/
    sort_by: date
  blog:
    output: true
    # Permalink uses URL encoding for "блог"
    permalink: /%D0%B1%D0%BB%D0%BE%D0%B3/:title/
    sort_by: date

defaults:
  -
    scope:
      path: ""
      type: "horoscopes"
    values:
      layout: "horoscope"
      lang: "ru"
      author: "Мадам Мистаро"
  -
    scope:
      path: ""
      type: "tarot"
    values:
      layout: "tarot"
      lang: "ru"
      author: "Мадам Мистаро"
  -
    scope:
      path: ""
      type: "blog"
    values:
      layout: "blog"
      lang: "ru"
      author: "Мадам Мистаро"

include:
  - "*.html"
  - "_pages"
  - "assets"

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/
  - .git/
  - .idea/
  - README.md

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

sass:
  style: compressed

responsive_image:
  template: _includes/responsive-image.html
  sizes:
    - width: 240
  default_quality: 85
  output_path_format: assets/resized/%{filename}-%{width}x%{height}.%{extension}

telegram_bot: mystaro_bot

lang: ru-RU